@media (max-width: 1439px) {
  .header {
    padding: 25px 28px;
    left: 32px;
    right: 32px;
  }
  .hero {
    padding: 220px 32px 60px;
  }
  .hero-star {
    width: 236px;
    height: 230px;
    top: 70px;
    right: 32px;
  }
  .hero__title {
    font-size: 120px;
    line-height: 120px;
    margin-bottom: 24px;
  }
  .hero__sale-img {
    width: 123px;
    height: 100px;
    left: -36px;
    bottom: -78px;
  }
  .hero__offer {
    margin-left: 196px;
    max-width: 360px;
  }
  .hero__offer-text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
  }
  .hero__limitations {
    margin-top: -30px;
    display: flex;
    justify-content: end;
  }
  .hero__limitations-text {
    font-family: "Suisse Intl";
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #E0EAFF;
    max-width: 359px;
  }
  .hero__title-line__first {
    top: -360px;
    left: 20px;
  }
  .hero__title-line__second {
    top: -320px;
    left: 558px;
  }
  .hero__title-line::before {
    left: -2px;
    width: 6px;
    height: 6.5px;
  }
}

@media (max-width: 1023px) {
  * {
    -webkit-tap-highlight-color: transparent;
  }
  .primary-btn:hover {
    background-color: #8F8FFF;
  }
  .nav__link:hover {
    color: #E0EAFF;
  }
  .header {
    padding: 25px 28px;
    left: 20px;
    right: 20px;
  }
  .hero {
    padding: 220px 32px 60px;
  }
  .hero-star {
    width: 178px;
    height: 173px;
    top: 115px;
    right: -15px;
    transform: rotate(20deg);
  }
  .hero__title {
    font-size: 94px;
    line-height: 100px;
    margin-bottom: 16px;
  }
  .hero__title-line__first {
    top: -350px;
    left: 18px;
  }
  .hero__title-line__second {
    top: -325px;
    left: 435px;
  }
  .hero__sale-img {
    width: 94px;
    height: 70px;
    left: -22px;
    bottom: -53px;
    transform: rotate(-5deg);
  }
  .hero__offer {
    margin-left: 144px;
    max-width: 360px;
  }
  .hero__marquee-blue {
    bottom: 120px;
    left: -240px;
    z-index: 5;
    transform: rotate(-11deg);
  }
  .hero__marquee-yellow {
    left: -250px;
    bottom: 90px;
    z-index: 4;
    transform: rotate(-3deg);
  }
  .hero__limitations {
    margin-top: -45px;
  }
}

@media (max-width: 767px) {
  html, body {
    background-size: cover;
  }
  .header {
    padding: 24px 20px;
    top: 20px;
    border-radius: 16px;
  }
  .header__logo img {
    width: 80px;
    height: 18px;
  }
  .header-burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 32px;
    height: 20px;
    cursor: pointer;
    background: none;
    border: none;
  }
  .header-burger span {
    position: absolute;
    width: 100%;
    height: 2.5px;
    right: 0;
    background-color: #E0EAFF;
    border-radius: 2px;
    transition: transform .3s, opacity .3s, -webkit-transform .3s;
  }
  .header-burger span:nth-child(2) {
    transform: translateY(10px);
    width: 50%;
  }
  .header-burger.active span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
  }
  .header-burger.active span:nth-child(2) {
    transform: translateY(0px) rotate(-45deg);
    width: 100%;
  }
  .nav {
    position: absolute;
    z-index: 998;
    left: 0;
    right: 0;
    padding: 24px 20px;
    bottom: -140px;
    background-color: #1E1E1E;
    border: 1px solid #323232;
    backdrop-filter: blur(31.484375px);
    box-shadow: 14.22px 15.23px 43.67px 0px #C2C2C20D inset;
    box-shadow: 0px 65px 130px -5.08px #0000000D;
    border-radius: 24px;
    visibility: hidden;
    opacity: 0;
    transition: all .4s ease 0s;
  }
  .nav.active {
    opacity: 1;
    visibility: visible;
  }
  .nav__list {
    flex-direction: column;
    align-items: start;
    gap: 32px;
  }
  .hero {
    padding: 140px 20px 80px;
    display: flex;
    flex-direction: column;
  }
  .hero-star {
    width: 122px;
    height: 119px;
    top: 50px;
    right: -15px;
    transform: rotate(0deg);
  }
  .hero__title {
    font-size: 46px;
    line-height: 50px;
    margin-bottom: 65px;
  }
  .hero__title-line__first {
    height: 280px;
    top: -300px;
    left: 11px;
  }
  .hero__title-line__second {
    height: 300px;
    top: -290px;
    left: 215px;
  }
  .hero__title-line::before {
    left: -1px;
    width: 4px;
    height: 4px;
  }
  .hero__sale-img {
    width: 86px;
    height: 64px;
    left: 96px;
    bottom: -54px;
    transform: rotate(0deg);
  }
  .hero-gradient {
    width: 700px;
    height: 800px;
  }
  .hero__offer {
    margin-left: 0px;
  }
  .hero__marquee {
    order: 2;
  }
  .hero__marquee-blue {
    bottom: 100px;
    left: -240px;
    transform: rotate(-11deg);
  }
  .hero__marquee-yellow {
    left: -250px;
    bottom: 0px;
    transform: rotate(-3deg);
  }
  .hero__limitations {
    justify-content: start;
    order: 1;
    margin-top: 15px;
  }
  .modal {
    padding: 20px;
  }
  .modal__wrapper {
    width: 100%;
    padding: 24px 40px 24px 24px;
  }
  .modal__wrapper-top {
    margin-bottom: 20px;
  }
  .modal__title {
    font-size: 28px;
    line-height: 36px;
  }
  .modal__form {
    gap: 14px;
  }
  .modal__form-input {
    padding: 10px 16px;
    height: 48px;
    font-size: 15px;
  }
  .modal__form-btn {
    margin-top: 4px;
    font-size: 14px;
  }
  .modal__form-checkbox {
    gap: 10px;
  }
  .modal__form-checkbox__input {
    margin-top: 3px;
    min-width: 22px;
    min-height: 22px;
    width: 22px;
    height: 22px;
  }
  .modal__form-checkbox__input::after {
    top: -2px;
    left: 3px;
    font-size: 17px;
  }
  .modal__form-checkbox__input:checked::after {
    width: 28px;
    height: 28px;
  }
  .modal__form-checkbox__label {
    font-size: 11px;
    line-height: 15px;
  }
}

@media (max-width: 424px) {
  .primary-btn {
    min-width: 100%;
  }
  .hero__title-line__first {
    top: -280px;
    left: 9px;
  }
  .hero__title-line__second {
    top: -270px;
    left: 213px;
  }
  .modal__wrapper {
    padding: 20px 28px 20px 20px;
  }
}